.floating(@top, @right, @bottom, @left, @zIndex) {
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
  z-index: @zIndex;
  position: fixed;
}

.displayFlex(@display, @justify, @align){
    display: @display;
    justify-content: @justify;
    align-items: @align;
}

.text-size-weight-style(@fontSize, @fontWeight, @fontStyle) {
  font-size: @fontSize;
  font-weight: @fontWeight;
  font-style: @fontStyle;
}


.width-height-100-percent {
  height: 100%;
  width: 100%;
}

